<!-- templates/account.html -->
{% extends "base.html" %}

{% block title %}
    My Account - {{ super() }}
{% endblock %}

{% block content %}
    <h2>My Account</h2>

    <div class="row">
        <div class="col-md-6">
            <h4>User Information</h4>
            <p>Name: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Role: {{ user.role.name }}</p>
        </div>

        <div class="col-md-6">
            <h4>Settings</h4>
            <p>Change password, notification preferences, etc.</p>

            <button class="btn btn-primary" onclick="changeUserRole()">Change Role</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4>Order History</h4>
            <ul>
                {% for order in user.orders %}
                    <li>Order #{{ order.id }} - {{ order.product.name }} </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-6">
            <h4>Additional Settings</h4>
            <p>Change additional settings here.</p>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log('Page loaded.');
        });

        async function changeUserRole() {
            const currentRole = '{{ user.role.name }}';

            const newRole = currentRole === 'SELLER' ? 'BUYER' : 'SELLER';

            try {
                const response = await fetch(`/v1/admin/change-role?new_role=${newRole}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (!response.ok) {
                    const errorMessage = await response.json();
                    alert(`Error: ${errorMessage.detail}`);
                } else {
                    const result = await response.json();
                    alert(result.message);
                    // Опціонально: оновлення відображення поточної ролі на сторінці
                    document.querySelector('#userRole').innerText = `Role: ${newRole}`;
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred while changing the role.');
            }
        }
    </script>
{% endblock %}
