{% extends 'base.html' %}

{% block title %}Category{% endblock %}

{% block content %}

<h2>Продукти в категорії : {{ current_category.name_category }}</h2>
<div class="row">
    {% for products in product %}
<div class="col-lg-4 col-md-6 mb-4">
<div class="card h-100">
    <a href="/v1/product/{{ products.id }}">
    </a>
<div class="card-body">
    <a class="product-name-link" href="/v1/product/{{ products.id }}">
        <h4 class="card-title">{{ products.name }}</h4>
    </a>
<p class="card-text">Price: ${{ products.price }}</p>
</div>
</div>
</div>
    {% endfor %}
</div>

{% endblock %}
